

html body {
    background-image: url(https://i.imgur.com/jW4II7W.png);
    background-repeat: repeat;
    background-color: #ffecb7;
}
iframe {
    border-style: none;
}

navbar-brand img {
    width: 4em;
}

main .jumbotron  {
    background-color: #ebfff2;
    border-radius: 25px;
  }

#jssli img {
      width: 2em;
      height: 2em;

  }


.navbar-toggler-icon {
    color: rgba(255,255,255,.6);
    border-color: rgba(255,255,255,.6);
    border-top-color: rgba(255, 255, 255, 0.6);
    border-right-color: rgba(255, 255, 255, 0.6);
    border-bottom-color: rgba(255, 255, 255, 0.6);
    border-left-color: rgba(255, 255, 255, 0.6);
    border-radius: .5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}