

html body {
    background-image: url(https://i.imgur.com/jW4II7W.png);
    background-repeat: repeat;
    background-color: #ffecb7;
}
iframe {
    border-style: none;
}

navbar-brand img {
    width: 4em;
}

main .jumbotron  {
    background-color: #ebfff2;
    border-radius: 25px;
  }

#jssli img {
      width: 2em;
      height: 2em;

  }


button.navbar-toggler {
    color: rgba(255,255,255,.8);
    border-color: rgba(255,255,255,.8);
    border-top-color: rgba(255, 255, 255, 0.8);
    border-right-color: rgba(255, 255, 255, 0.8);
    border-bottom-color: rgba(255, 255, 255, 0.8);
    border-left-color: rgba(255, 255, 255, 0.8);
    stroke: rgba(255,255,255,.8);
    stroke-width: 3px;
    border-width: 3px;
}